body {
  background: #eee;
  font-family: sans-serif;
  box-sizing: border-box;
}

.card {
  width: 500px;
  background: #fff;
  margin: 16px auto;
  border: 8px solid #fff ;
}

.title {
  background: #e3f4ff;
  margin-top: 0px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 16px;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  margin: auto;
  display: block;
  padding: 10px 20px;
}